// 引入ant样式
@import '~antd/dist/antd.css';

// 公共样式设置
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
html, body, #root, #app {
    height: 100%;
    width: 100%;
}
.app-content {
    min-width: 1350px;
    min-height: 100%;
    height: auto;
}

// 主要颜色
$highlight-color: #1890ff;

// 警告颜色
$warn-color: #e6a23c;

// 警告按钮
%warn-button {
    background: $warn-color;
    border-color: $warn-color;
}


// 引入自定义样式动画
@import './transform.scss';

// 引入其它样式文件
@import './module.scss';