$logo-size: 31px;

.app-content {
    height: 100%;
    width: 100%;

    .header {
        .logo {
            float: left;
            width: 120px;
            height: 31px;
            margin: 16px 24px 16px 0;

            &-img {
                background-image: url("../assets/logo.png");
                background-size: 100% 100%;
                width: $logo-size;
                height: $logo-size;
            }
        }
    }

    .site-layout-background {
        background: #fff;
    }
}