.translateX0 {
    transition: all 1s;
    transform: translateX(0px);
}

.translateX-230 {
    transition: all 1s;
    transform: translateX(-230px);
}

.translateX230 {
    transition: all 1s;
    transform: translateX(230px);
}


.translateY0 {
    transition: all 1s;
    transform: translateY(0px);
}

.translateY60 {
    transition: all 1s;
    transform: translateY(60px);
}

.translateY80 {
    transition: all 1s;
    transform: translateY(80px);
}

.translateY100 {
    transition: all 1s;
    transform: translateY(100px);
}

.translateY-120 {
    transition: all 1s;
    transform: translateY(-120px);
}

.translateY180 {
    transition: all 1s;
    transform: translateY(180px);
}