
.translateY100 {
    transition: all 1s;
    transform: translateY(100px);
}
.translateY60 {
    transition: all 1s;
    transform: translateY(60px);
}
.translateX0 {
    transition: all 1s;
    transform: translateX(0px);
}
.translateX-230 {
    transition: all 1s;
    transform: translateX(-230px);
}
.translateX230 {
    transition: all 1s;
    transform: translateX(230px);
}


.translateY-120 {
    transition: all 1s;
    transform: translateY(-120px);
}

.translateY0 {
    transition: all 1s;
    transform: translateY(0px);
}