.undone {
    .todo-list {
        width: 350px;
        .todo-item {
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            font-size: 14px;
            border-bottom: 1px solid #d0d0d0;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ant-checkbox {
                border-radius: 4px;
                overflow: hidden;
            }

            > span {
                color: #909090;
                font-size: 14px;
                padding: 0 10px;
                cursor: pointer;
            }
        }
        .todo-active {
            color: $highlight-color;
        }
    }

    &-tab {
        display: flex;
        padding-top: 20px;
        align-items: start;
    }
}
