.undone {
    &-tab {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;

        .todo-list {
            width: 350px;
            .todo-item {
                height: 40px;
                line-height: 40px;
                padding: 0 10px;
                font-size: 14px;
                border-bottom: 1px solid #d0d0d0;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .ant-checkbox {
                    border-radius: 4px;
                    overflow: hidden;
                }

                > span {
                    color: #909090;
                    font-size: 14px;
                    padding: 0 10px;
                    cursor: pointer;
                }
            }
            .not-active {
                color: #666;
            }
            .todo-active {
                color: $highlight-color;
            }
        }

        .looking-games {
            width: 300px;
            padding-top: 10px;
            .games-item {
                display: flex;
                padding: 10px 10px;
                margin: 10px 0;
                border-radius: 10px;
                color: #fff;
                background-color: $highlight-color;
                cursor: pointer;

                > div {
                    margin-right: 10px;
                    font-size: 12px;
                }
                .games-title {
                    font-size: 14px;
                    font-weight: 700;
                }
                img {
                    border-radius: 10px;
                }
            }
        }
    }
}
